@model Projeto_final_Ti2_2018.Models.Encomenda

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Encomenda</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegiaoEnvio.NomeRegiao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegiaoEnvio.NomeRegiao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoEnvio.TiposEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoEnvio.TiposEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacaoEncomenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacaoEncomenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataEnvioEncomenda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataEnvioEncomenda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustoEnvio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustoEnvio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoradaFaturacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoradaFaturacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodPostalFaturacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPostalFaturacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoradaEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoradaEntrega)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostalEntrega)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostalEntrega)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
